
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách các quà tặng hấp dẫn và chất lượng luôn được nhiều bạn trẻ săn đón, tại  dongoaichinhhang.com   luôn có những chương trình khuyến mãi hấp dẫn kèm quà tặng Hot dành cho người dùng, mọi thông tin vui lòng liên hệ qua 🌐  dongoaichinhhang.com   - ☎ 0983 667 466</h2>

<table>
    @foreach (var bonus in ViewBag.list_bonus)
    {
        <div style="float:left;margin:20px">
            <img src="~/Assests/@bonus.photo.Replace("~","")" />
        </div>
        <di style="margin:10px">
            <div><b>@bonus.name_bonus</b></div>
            <div style="margin-top:20px;color:red"><b>@bonus.price</b></div>
        </di>
        <div style="clear:left"></div>
    }
</table>

