
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bonus</h2>
<table>
    @foreach (var bonus in ViewBag.list_bonus)
    {
        <div style="float:left;margin:20px">
            <img src="~/Assests/@bonus.photo.Replace("~","")" />
        </div>
        <di style="margin:10px">
            <div><b>@bonus.name_bonus</b></div>
            <div style="margin-top:20px;color:red"><b>@bonus.price</b></div>
        </di>
        <div style="clear:left"></div>
    }
</table>

