
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-left" style="background-color:#fff">
                    <article class="box-shock
        bica news">
                        <h1>Đổi trả hàng và bảo hành</h1><div class="poster">
                            Ngày
                            đăng: 24/04/2018, lượt xem: 216
                        </div><div class="clr">
                            <p>
                                Nhằm bảo vệ
                                quyền lợi cao nhất cho Quý khách hàng khi <strong>
                                    mua sắm hàng
                                    chính hãng
                                </strong>, <strong>dongoaichinhhang.com</strong>
                                đã xây dựng chính sách <strong>đổi/trả sản phẩm</strong> với
                                những điều khoản có lợi nhất cho khách hàng và đảm bảo chất
                                lượng dịch vụ hậu mãi của dongoaichinhhang.com là tốt nhất.
                            </p><p>
                                Chúng
                                tôi luôn sẵn sàng tiếp nhận mọi phản hồi và cam kết sẽ hoàn tiền
                                200% nếu khách hàng chứng minh được là hàng giả.
                            </p><p style="text-align: center;">
                                <img alt="" class="lazy
                    quickview-link" data-src="~/Assests/fUp/đổi-trả-1.jpg" style="width:
                    700px; height: 234px; display: inline; opacity: 1;"
                                     src="~/Assests/fUp/đổi-trả-1.jpg">
                            </p><p style="text-align: center;">
                                <em>
                                    Chính
                                    sách đổi trả đặt lợi ích của khách hàng lên hàng đầu
                                </em>
                            </p><p>
                                <span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica,
                    sans-serif; font-size: 13px; text-align: justify;">
                                    Shop
                                    <strong>Đồ Ngoại&nbsp;</strong>
                                </span><strong>
                                    <strong style="box-sizing: border-box; outline: none; margin:
                        0px; padding: 0px; border: 0px; vertical-align:
                        baseline; color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 13px; text-align:
                        justify;">Chính Hãng</strong>
                                </strong><span style="color: rgb(0, 0, 0); font-family: Arial, Helvetica,
                    sans-serif; font-size: 13px; text-align: justify;">
                                    &nbsp;cung
                                    cấp chính sách đổi/ trả hàng với qui định cụ thể sau đây:
                                </span>
                            </p><p>
                                <b>
                                    Mục
                                    lục
                                </b> <a id="aShHi" href="javascript:void();">Ẩn</a>
                            </p><ul class="lMluc">
                                <li>
                                    <a href="#truong-hop-doi-tra-hang">
                                        Trường Hợp
                                        Đổi/ Trả Hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="#dieu-kien-doi-tra-san-pham">
                                        Điều Kiện Đổi/ Trả
                                        Sản Phẩm
                                    </a>
                                </li>
                                <li>
                                    <a href="#cach-thuc-doi-tra-san-pham">
                                        Cách Thức Đổi Trả Sản
                                        Phẩm
                                    </a>
                                </li>
                                <li>
                                    <a href="#thoi-gian-lam-viec-dongoaichinhhangcom">
                                        Thời Gian
                                        Làm Việc Dongoaichinhhang.Com
                                    </a>
                                </li>
                            </ul><p></p><h2 id="truong-hop-doi-tra-hang">
                                TRƯỜNG HỢP ĐỔI/ TRẢ HÀNG
                            </h2><ul>
                                <li>
                                    Sản phẩm không đúng như thông tin trên web, đơn đặt hàng,
                                    được xác định hàng giả, hàng nhái.
                                </li>
                                <li>
                                    Hàng lỗi do quá
                                    trình vận chuyển.
                                </li>
                                <li>
                                    Sản phẩm phát sinh lỗi do nhà sản
                                    xuất.
                                </li>
                            </ul><h2 id="dieu-kien-doi-tra-san-pham">
                                ĐIỀU KIỆN
                                ĐỔI/ TRẢ SẢN PHẨM
                            </h2><ul>
                                <li>
                                    Sản phẩm được đổi/ trả trong vòng
                                    7 ngày kể từ ngày Quý khách hàng nhận được sản phẩm.
                                </li>
                                <li>
                                    Phải còn nguyên bao bì, nguyên tem, còn đầy đủ các chi tiết,
                                    phiếu và quà tặng đi kèm (chưa qua sử dụng).
                                </li>
                                <li>
                                    Sản
                                    phẩm chưa qua sử dụng, không bị dính bẩn, được bảo quản với
                                    tiêu chuẩn của nhà sản xuất không bị các lỗi chảy nước, can
                                    thiệp vật lý vào vỏ và thân sản phẩm.
                                </li>
                                <li>
                                    <strong>
                                        Email
                                    </strong>liên hệ đổi trả: <a href="mailto:info@dongoaichinhhang.com">info@dongoaichinhhang.com</a>
                                </li>
                                <li>
                                    <strong>Điện thoại</strong> hỗ trợ: <a href="tel:0983667466">0983 667 466</a>
                                </li>
                                <li>
                                    <strong>
                                        Chịu
                                        phí
                                    </strong>: Nếu lỗi do Shop thì chúng tôi chịu hoàn
                                    toàn phí đổi trả hàng cho quí khách. Ngược lại, nếu quí
                                    khách muốn đổi sản phẩm khác,... thì quí khách phải chịu chi
                                    phí giao hàng.
                                </li>
                            </ul><p style="text-align: center;">
                                <img alt="" class="lazy quickview-link"
                                     data-src="~/Assests/fUp/đổi-trả-2.jpg" style="width: 700px; height:
                    362px; display: inline; opacity: 1;"
                                     src="~/Assests/fUp/đổi-trả-2.jpg">
                            </p><p style="text-align: center;">
                                <em>
                                    Điều
                                    kiện đổi trả dễ dàng, linh động
                                </em>
                            </p><h2 id="cach-thuc-doi-tra-san-pham">
                                CÁCH THỨC ĐỔI TRẢ SẢN PHẨM
                            </h2><ul>
                                <li>
                                    <strong>Bước 1</strong>: Khách hàng liên hệ với chúng tôi về
                                    tình trạng sản phẩm.
                                </li>
                                <li>
                                    <strong>Bước 2</strong>: Chúng
                                    tôi tiến hành xác nhận tình trạng hàng hóa và xác nhận cho
                                    khách hàng sản phẩm có được đổi hay không.
                                </li>
                                <li>
                                    <strong>
                                        Bước
                                        3
                                    </strong>: Để đổi/trả, khách hàng vui lòng gửi sản phẩm
                                    đến văn phòng dongoaichinhhang.
                                </li>
                                <li>
                                    <strong>Bước 4</strong>:
                                    Sau khi đã nhận, kiểm tra và chấp nhận sản phẩm mà quý khách
                                    muốn đổi trả, chúng tôi sẽ liên hệ để đổi hàng hoặc hoàn
                                    tiền lại cho quý khách trong thời gian nhanh nhất.
                                </li>
                            </ul><h2 id="thoi-gian-lam-viec-dongoaichinhhangcom">
                                THỜI GIAN LÀM VIỆC
                                DONGOAICHINHHANG.COM
                            </h2><h3>
                                Tất cả các ngày trong tuần, trừ Dịp
                                nghỉ lễ Tết Nguyên đán:
                            </h3><ul>
                                <li>
                                    Sáng: <span style="color:#ff8c00;"><strong>8:00 đến 12:00</strong></span>
                                </li>
                                <li>
                                    Chiều: <span style="color:#ff8c00;"><strong>13:00 đến 21:00</strong></span>
                                </li>
                                <li>
                                    Các khung thời gian còn lại, Quí khách vui lòng ĐIỀN THÔNG
                                    TIN VÀO FORM ĐẶT HÀNG để được hỗ trợ sớm nhất.
                                </li>
                            </ul><p>
                                Xin
                                cám ơn !
                            </p>
                            <script type="application/ld+json">
                            </script><p></p><div class="rowsp"><ul class="lsn"></ul></div><div class="clr"></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary ml-5" style="float:right">DANH MỤC SẢN PHẨM</button>
                @foreach (var c in Model)
                {
                    <div class="row" style="float:right">@c.category_name</div>
                }
            </div>
        </div>
    </div>
</div>

