
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-left">
    <h2><img src="/imgs/dieu-tri-mun-da-mun-4.jpg" alt="Điều trị mụn - da mụn - tái tạo Da" title="Điều trị mụn - da mụn - tái tạo Da" style="margin-bottom: 6px; max-width: 100%;" /></h2>
    <div class="barbox">
        <h1 class="titlecate"><a href="/danh-muc/dieu-tri-mun-da-mun.html" title="Điều trị mụn - da mụn - tái tạo Da">Điều trị mụn - da mụn - tái tạo Da</a></h1>
    </div>
    <div class="box-shock">
        <div class="bica">
            <p>
                Shop dongoaichinhhang.com chuyên cung cấp các loại mỹ phẩm điều trị mụn - da mụn hiệu quả, an toàn nhất hiện nay, nhập khẩu chính hãng từ Hàn Quốc, Mỹ, Nhật, Pháp, Ý, Thái,… Với các loại kem trị mụn trứng cá, thuốc trị mụn
                bọc, mụn thâm, mụn ẩn, mụn đầu đen, trị mụn từ Đông y,… 100% hàng chính hãng, giá ưu đãi nhất thị trường.
            </p>
        </div>
        <div class="rowsp">
            <ul class="category-ul homeproduct nonslider">
                <li>
                    <div class="absoluteimg">
                        <a href="/siloflamm-50mg-thuoc-cuong-duong-cua-an-do-4-vien-tri-roi-loan-cuong-duong.html" title="Siloflam 50mg - Thuốc cường dương  của Ấn Độ 4 viên - Trị rối loạn cương dương">
                            <img src="/img/siloflamm-50mg-thuoc-cuong-duong-cua-an-do-4-vien-tri-roi-loan-cuong-duong.jpg" alt="Siloflam 50mg - Thuốc cường dương  của Ấn Độ 4 viên - Trị rối loạn cương dương" />
                        </a>
                        <div class="prolink">
                            <a href="#" onclick="return showCart(50966, 1);"><i></i>&nbsp;Thêm giỏ hàng</a>
                        </div>
                    </div>
                    <h3>
                        <a href="/siloflamm-50mg-thuoc-cuong-duong-cua-an-do-4-vien-tri-roi-loan-cuong-duong.html" title="Siloflam 50mg - Thuốc cường dương  của Ấn Độ 4 viên - Trị rối loạn cương dương">
                            Siloflam 50mg - Thuốc cường dương của Ấn Độ 4 viên - Trị rối loạn cương dương
                        </a>
                    </h3>
                    <ins>130.000₫</ins>
                    <div class="vote"><div style="width: 0%;"></div></div>
                </li>
                <li>
                    <div class="absoluteimg">
                        <a href="/mat-na-bun-hello-kitty-nhat-ban-hop-10-goi-15ggoi.html" title="Mặt Nạ Bùn Hello Kitty Nhật Bản Hộp 10 gói (15g/gói)">
                            <img src="/img/mat-na-bun-hello-kitty-nhat-ban-hop-10-goi-15ggoi.jpg" alt="Mặt Nạ Bùn Hello Kitty Nhật Bản Hộp 10 gói (15g/gói)" />
                        </a>
                        <div class="prolink">
                            <a href="#" onclick="return showCart(50886, 1);"><i></i>&nbsp;Thêm giỏ hàng</a>
                        </div>
                    </div>
                    <h3><a href="/mat-na-bun-hello-kitty-nhat-ban-hop-10-goi-15ggoi.html" title="Mặt Nạ Bùn Hello Kitty Nhật Bản Hộp 10 gói (15g/gói)">Mặt Nạ Bùn Hello Kitty Nhật Bản Hộp 10 gói (15g/gói)</a></h3>
                    <ins>150.000₫</ins>
                    <div class="vote"><div style="width: 0%;"></div></div>
                </li>
            </ul>
        </div>
    </div>
</div>


