
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="col-left" style="background-color:#fff">
                    <article class="box-shock bica news">
                        <h1>Giao nhận và thanh toán</h1><div class="poster">
                            Ngày
                            đăng: 24/04/2018, lượt xem: 211
                        </div><div class="clr">
                            <p style="text-align: center;">
                                <img alt="" class="lazy
                    quickview-link" data-src="~/Assests/fUp/giao-hang.jpg"
                                     style="text-align: center; width: 700px; height: 436px;
                    display: inline; opacity: 1;" src="~/Assests/fUp/giao-hang.jpg">
                            </p><p>
                                <b>
                                    Mục
                                    lục
                                </b> <a id="aShHi" href="javascript:void();">Ẩn</a>
                            </p><ul class="lMluc">
                                <li>
                                    <a href="#giao-hang-toan-quoc">
                                        Giao Hàng Toàn
                                        Quốc
                                    </a>
                                </li>
                                <li>
                                    <a href="#thoi-gian-giao-hang">
                                        Thời
                                        Gian Giao Hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="#thanh-toan-khi-nhan-hang-cod">
                                        Thanh Toán Khi Nhận
                                        Hàng (Cod):
                                    </a>
                                </li>
                                <li>
                                    <a href="#thanh-toan-qua-chuyen-khoan-ngan-hang">
                                        Thanh Toán
                                        Qua Chuyển Khoản Ngân Hàng:
                                    </a>
                                </li>
                                <li>
                                    <a href="#chi-phi-van-chuyen">Chi Phí Vận Chuyển:</a>
                                </li>
                                <li>
                                    <a href="#thay-doi-huy-bo-giao-dich">
                                        Thay Đổi, Hủy Bỏ Giao
                                        Dịch
                                    </a>
                                </li>
                            </ul><p></p><h2 id="giao-hang-toan-quoc">
                                GIAO
                                HÀNG TOÀN QUỐC
                            </h2><ul>
                                <li>
                                    Dongoaichinhhang.com có đội ngũ giao
                                    nhận hàng thanh toán tại nhà trên toàn quốc.
                                </li>
                                <li>
                                    Liên
                                    kết với những đơn vị vận chuyển nhanh chóng và đáng tin cậy
                                    để giao hàng trực tiếp đến tay khách hàng.
                                </li>
                                <li>
                                    Linh
                                    động sắp xếp lịch giao hàng cho khách hàng.
                                </li>
                            </ul><p>
                                -
                                <strong>Đối với khách hàng nội thành TP.HCM</strong>:
                                dongoaichinhhang.com sẽ giao hàng tận nơi cho Quý khách hàng
                                theo địa chỉ mà khách hàng đã xác nhận với đội ngũ giao hàng
                                nhanh riêng trong nội thành.
                            </p><p>
                                - <strong>
                                    Đối với khách hàng
                                    liên tỉnh
                                </strong>: Chúng tôi sẽ giao hàng cho Quý khách
                                thông qua các đơn vị giao hàng uy tín như Bưu điện, Viettel,
                                hoặc các nhà xe (nếu số lượng lớn).
                            </p><h3>
                                - Trong trường hợp
                                thay đổi số lượng đơn hàng và mặt hàng xin Quý Khách liên hệ
                                thông qua Hotline: <a href="tel:0983667466">
                                    <span style="color:#ff0000;">
                                        <span style="font-size:16px;">
                                            <strong>
                                                0983
                                                667 466
                                            </strong>
                                        </span>
                                    </span>
                                </a> để thay đổi
                                đơn hàng.
                            </h3><h2 id="thoi-gian-giao-hang">THỜI GIAN GIAO HÀNG</h2><ul>
                                <li>
                                    <strong>Đối với nội thành TpHCM:</strong> SÁNG nhận CHIỀU
                                    giao, Chiều nhận thì giao trong ngày hôm sau
                                </li>
                                <li>
                                    <strong>Đối với ĐƠN đi Tỉnh/ Thành khác</strong>: Thời gian
                                    vận chuyển thường mất khoản 2-5 ngày (không tính chủ nhật
                                    hay các ngày lễ tết) và còn tùy theo khu vực hoặc các yếu tố
                                    khách quan khác.
                                </li>
                            </ul><p style="text-align: center;">
                                <img alt="" class="lazy quickview-link"
                                     data-src="~/Assests/fUp/giao-hàng-1.jpg" style="width: 700px; height:
                    322px; display: inline; opacity: 1;"
                                     src="~/Assests/fUp/giao-hàng-1.jpg">
                            </p><p style="text-align:
                center;"><em>Thời gian giao hàng nhanh chóng</em></p><h2 id="thanh-toan-khi-nhan-hang-cod">
                                THANH TOÁN KHI NHẬN HÀNG
                                (COD):
                            </h2><ul>
                                <li>
                                    <u>Bước 1</u>: Khách hàng chọn phương thức:
                                    <strong>Thanh toán khi nhận hàng</strong>.
                                </li>
                                <li>
                                    <u>
                                        Bước
                                        2:
                                    </u> Chúng tôi sẽ tiếp nhận đơn hàng và xử lý sau khi
                                    tiếp nhận.
                                </li>
                                <li>
                                    <u>Bước 3</u>: Sau khi kiểm tra, xác
                                    nhận tình trạng đơn hàng, chúng tôi sẽ tiến hành giao hàng
                                    đến quý khách.
                                </li>
                                <li>
                                    <u>Bước 4:</u> Quý khách vui lòng
                                    nhận hàng và thanh toán theo hoá đơn từ nhân viên giao hàng.
                                    Trường hợp vắng mặt khi giao hàng, quý khách có thể nhờ
                                    người nhận thay và thanh toán.
                                </li>
                            </ul><p style="text-align: center;">
                                <img alt="" class="lazy
                    quickview-link" data-src="~/Assests/fUp/giao-hàng-2.jpg"
                                     style="width: 700px; height: 490px; display: inline;
                    opacity: 1;" src="~/Assests/fUp/giao-hàng-2.jpg">
                            </p><p style="text-align: center;">
                                <em>
                                    Thanh toán an toàn bằng tiền mặt
                                    khi đã nhận được hàng
                                </em><br>&nbsp;
                            </p><h2 id="thanh-toan-qua-chuyen-khoan-ngan-hang">
                                THANH TOÁN QUA CHUYỂN
                                KHOẢN NGÂN HÀNG:
                            </h2><ul>
                                <li>
                                    <strong>Bước 1:</strong> Khách
                                    hàng chọn phương thức: <strong>Chuyển khoản ngân hàng</strong>.
                                </li>
                                <li>
                                    <strong>Bước 2:</strong> Tiến hành chuyền khoản qua tài
                                    khoản ngân hàng như sau để hoàn tất đơn hàng:
                                </li>
                            </ul><blockquote>
                                <p style="margin-left: 40px;">
                                    <span style="color: rgb(0, 0,
                        0); font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;">Ngân hàng TMCP Ngoại thương VN (</span><b style="box-sizing: border-box; outline: none; margin:
                        0px; padding: 0px; border: 0px; vertical-align:
                        baseline; color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 15px;">Vietcombank</b><span style="color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 15px;">)</span><br style="box-sizing: border-box; outline: none; margin:
                        0px; padding: 0px; color: rgb(0, 0, 0); font-family:
                        Arial, Helvetica, sans-serif; font-size: 15px;"> <span style="color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 15px;">Số tk:&nbsp;</span><b style="box-sizing: border-box; outline: none; margin:
                        0px; padding: 0px; border: 0px; vertical-align:
                        baseline; color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 15px;">
                                        033 100 3735
                                        117
                                    </b><br style="box-sizing: border-box; outline: none;
                        margin: 0px; padding: 0px; color: rgb(0, 0, 0);
                        font-family: Arial, Helvetica, sans-serif; font-size:
                        15px;"> <span style="color: rgb(0, 0, 0); font-family:
                        Arial, Helvetica, sans-serif; font-size: 15px;">
                                        Chủ
                                        tk:&nbsp;
                                    </span><b style="box-sizing: border-box;
                        outline: none; margin: 0px; padding: 0px; border: 0px;
                        vertical-align: baseline; color: rgb(0, 0, 0);
                        font-family: Arial, Helvetica, sans-serif; font-size:
                        15px;">TRAN QUOC TUAN</b><br style="box-sizing:
                        border-box; outline: none; margin: 0px; padding: 0px;
                        color: rgb(0, 0, 0); font-family: Arial, Helvetica,
                        sans-serif; font-size: 15px;"> <span style="color:
                        rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif;
                        font-size: 15px;">Chi nhánh:&nbsp;</span><b style="box-sizing: border-box; outline: none; margin:
                        0px; padding: 0px; border: 0px; vertical-align:
                        baseline; color: rgb(0, 0, 0); font-family: Arial,
                        Helvetica, sans-serif; font-size: 15px;">Tp Hồ Chí Minh</b>
                                </p><p style="margin-left: 40px;">
                                    Nội dung chuyển khoản: <strong>
                                        TenSanPham
                                        + SoDienThoai + MaDonHang
                                    </strong>
                                </p>
                            </blockquote><ul>
                                <li>
                                    <strong>Bước 3</strong>: Chúng tôi sẽ check thông tin chuyển
                                    khoản thành công và tiếp nhận đơn hàng, xử lý sau khi tiếp
                                    nhận.
                                </li>
                                <li>
                                    <strong>Bước 4</strong>: Sau khi kiểm tra,
                                    xác nhận tình trạng đơn hàng, chúng tôi sẽ tiến hành giao
                                    hàng đến quý khách.
                                </li>
                                <li>
                                    <strong>Bước 5</strong>: Quý
                                    khách vui lòng nhận hàng và KHÔNG thanh toán tiền cho nhân
                                    viên giao hàng. Trường hợp vắng mặt khi giao hàng, quý khách
                                    có thể nhờ người nhận thay và thanh toán.
                                </li>
                            </ul><h2 id="chi-phi-van-chuyen">
                                CHI PHÍ VẬN CHUYỂN:
                            </h2><ul>
                                <li>
                                    Đối với
                                    các <strong>đơn từ 2 sản phẩm</strong> trở lên: <span style="color:#ff0000;">Miễn phí vận chuyển toàn quốc</span>
                                </li>
                                <li>
                                    Đối với đơn giá trị <strong>từ 500.000</strong>đ: <span style="color:#ff0000;">Miễn phí vận chuyển toàn quốc</span>
                                </li>
                                <li>
                                    Đối với đơn <strong>1 sản phẩm</strong> và dưới<strong>
                                        500.000
                                    </strong>đ: <ul>
                                        <li>
                                            Phí giao hàng tại <strong>
                                                Tp
                                                HCM
                                            </strong>: <span style="color:#ff0000;"><strong>20.000</strong></span>đ/
                                            đơn hàng
                                        </li>
                                        <li>
                                            Phí giao đi các <strong>
                                                tỉnh/
                                                thành khác
                                            </strong>: <span style="color:#ff0000;"><strong>30.000</strong></span>đ/
                                            đơn hàng
                                        </li>
                                    </ul>
                                </li>
                            </ul><h2 id="thay-doi-huy-bo-giao-dich">
                                THAY ĐỔI, HỦY BỎ GIAO DỊCH
                            </h2><h3>
                                Trong
                                những trường hợp sau đây quý khách có thể thay đổi hoặc hủy bỏ
                                giao dịch:
                            </h3><ul>
                                <li>
                                    Khi cửa hàng đã xác nhận được sản phẩm
                                    vẫn chưa được gửi đi.
                                </li>
                                <li>
                                    Nếu sản phẩm đã được gửi đi,
                                    có thay đổi khách hàng phải chịu phí vận chuyển.
                                </li>
                            </ul><h3>
                                Khi
                                đặt hàng, Quý khách vui lòng điền đầy đủ và chính xác các thông
                                tin cần thiết theo yêu cầu. Chúng tôi không chịu trách nhiệm đối
                                với những trường hợp giao hàng chậm trễ hay thất lạc vì các
                                thông tin do Quý khách cung cấp không chính xác.
                            </h3>
                            <script type="application/ld+json">
                            </script><p></p><div class="rowsp"><ul class="lsn"></ul></div><div class="clr"></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary ml-5" style="float:right">DANH MỤC SẢN PHẨM</button>
                @foreach (var c in Model)
                {
                    <div class="row" style="float:right">@c.category_name</div>
                }
            </div>
        </div>
    </div>
</div>

